.production {
  background-color: lightgrey;
  color: black;
  padding: 1rem;
}
.production h3 {
  border-bottom: 1px solid grey;
  font-size: 11px;
  margin-bottom: 0.6rem;
  padding-bottom: 0.2rem;
  text-transform: uppercase;  
}
.production ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.production ul ul {
  padding-left: 0.4rem;
}
