/* .characters {
  background-color: lightgrey;
  color: black;
  margin-top: 1rem;
  padding: 1rem;
  width: 200px;
}
.characters h3 {
  border-bottom: 1px solid grey;
  font-size: 11px;
  margin-bottom: 0.6rem;
  padding-bottom: 0.2rem;
  text-transform: uppercase;  
}
.characters ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */
