.characters {
  background-color: lightgrey;
  border-collapse: collapse;
  color: black;
  margin-bottom: 3rem;
  margin-top: 1rem;
  padding: 1rem;
}
.characters table {
  background-color: lightgrey;
  border-collapse: collapse;
  color: black;
  width: 100%;
}
.characters thead tr th {
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
  padding-bottom: 0.2rem;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase; 
}
.characters td {
  padding: 2px 8px 2px 0;
}
.characters tr:first-of-type td {
  padding-top: 1rem;
}
